* {
    font-family: "Nata Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    background-color: #01B2FF;
    -webkit-overflow-scrolling: touch;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    position: fixed;
    background-color: white;
    flex-direction: column;
    z-index: 21;
}

.high-header {
    padding-right: 20vw;
    padding-left: 20vw;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.a-logo {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.logo {
    margin-top: 10px;
    margin-bottom: 3px;
}

.link {
    transition: 0.5s;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: #01B2FF;
}

.link:hover {
    transition: 0.5s;
    color: black;
}

.separator {
    margin-right: 20vw;
    margin-left: 20vw;
    height: 1px;
    background-color: #DBDBDB;
}

.low-header {
    margin-right: 20vw;
    margin-left: 20vw;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog {
    width: 240px;
    padding: 0;
    margin: 0;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 5px;   
    font-size: 20px;
    border: 0;
}

.catalogic {
    display: none;
    flex-direction: row;
}

.sort {
    transition: 0.5s;
    padding-left: 5px;
}

.high-li {
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid #DBDBDB;
}

.low-li {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid #DBDBDB;
}

.catalog:hover {
    color: #01B2FF;
    background-color: white;
    text-decoration: none;
}

.catalog:hover img {
    transition: 0.5s;
    padding-left: 0;
    padding-right: 5px;
    rotate: 180deg;
}

ul {
    width: 240px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

li ul {
    position: absolute;
    display: none;
}

li a {
    width: 180px;
    font-size: 18px;
    transition: 0.5s;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-bottom: none;
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
}

li a:hover {
    transition: 0.5s;
    color: #01B2FF;
    text-decoration: underline;
}
   
li:hover ul {
    display: flex;
}

.image-preview {
    height: 400px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #DBDBDB;
}

.image-preview-container {
    display: none;
}

.low-a {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: 20px;
}

.low-a:hover {
    transition: 0.5s;
    color: #01B2FF;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    height: 70%;
    margin-top: 15px;
}

.burger-menu-button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.burger {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: white;
    z-index: 20;
}

.burger-link {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.main-info {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/blue-abstract-fluid-background-vector.jpg);
    padding-left: 20vw;
    padding-right: 20vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text {
    margin: 0;
    padding: 0;
    
}

.rucold {
    font-weight: bold;
    color: #01B2FF;
}

.rucold-heading {
    font-family: "Unbounded", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #01B2FF;
}

.heading {
    font-family: "Unbounded", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #01B2FF;
}

.heading-main {
    font-family: "Unbounded", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #01B2FF;
    opacity: 0;
    translate: -200px;
}


.paragraph-main {
    font-size: 20px;
    opacity: 0;
    translate: -200px;
}

.paragraph {
    font-size: 20px;
}

.button-a {
    text-decoration: none;
    color: #01B2FF;
    margin-top: 7%;
    width: 30%;
    border-radius: 1600px;
}

.button {
    transition: 0.5s;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1600px;
    border: 1px solid #DBDBDB;
}

.button:hover {
    transition: 0.5s;
    color: white;
    background-color: #01B2FF;
}

.button-adaptive {
    transition: 0.5s;
    background-color: #01B2FF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1600px;
    border: 1px solid #DBDBDB;
    margin-top: 0px;
    color: white;
}

.button-adaptive:hover {
    transition: 0.5s;
    color: #01B2FF;
    background-color: white;
}

.second-info {
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
}

#second-info-heading {
    color: white;
}

#second-info-paragraph {
    color: white;
    text-align: end;
    width: 70%;
}

#second-info-rucold {
    color: white;
}

.third-info {
    background-color: white;
}

.third-info-a-part {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: center;
}

.third-info-a-part-paragraph-1 {
    opacity: 0;
    translate: 300px;
}

.third-info-a-part-paragraph-2 {
    opacity: 0;
    translate: 300px;
}

.third-info-a-part-paragraph-3 {
    opacity: 0;
    translate: 300px;
}


.third-info-b-part {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20vw;
    padding-right: 20vw;
    background-color: #d9f3ff;
}

.third-info-b-part-b-part {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#third-info-b-part-b-part-paragraph {
    text-align: end;
    width: 60%;
}

.slick-slide img {
    max-width: 100%;
}

.slick-list {
    height: 23vw !important;
}

.slick-arrow {
    display: none !important;
}  

.galery {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.galery-button-a {
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 20%;
    border-radius: 1600px;
}

.galery-button {
    transition: 0.5s;
    background-color: #01B2FF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1600px;
    border: 1px solid #DBDBDB;
}

.galery-button:hover {
    transition: 0.5s;
    color: #01B2FF;
    background-color: white;
}

#galery-heading {
    padding-top: 5%;
    padding-bottom: 3%;
}

.application {
    background-color: white;
}

.application-main-part {
    height: 600px;
    background-color: #01B2FF;
}

.polygon {
    background-image: url(images/Polygon.png);
    height: 10vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.application-main-part {
    padding-left: 20vw;
    padding-right: 20vw;
}

.application-main-part-a-part {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
}

.application-main-part-a-part-button {
    text-decoration: none;
    color: #01B2FF;
    width: 30%;
    height: 60px;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 1600px;
}

.application-main-part-b-part-button {
    display: flex;
    width: 70%;
    text-decoration: none;
    color: #01B2FF;
    height: 60px;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 1600px;
}

#application-main-part-heading {
    text-align: end;
    color: white;
}

.application-main-part-b-part {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.application-main-part-c-part {
    padding: 0;
    margin: 0;
    display: none;
}

#adaptive-button-b-part {
    display: none;
}

.adaptive-main-part-b-part {
    display: none;
}

.sphere {
    transition: 0.5s;
    padding: 0;
    margin: 0;
    translate: 300px;
}

.sphere:hover {
    transition: 0.5s;
    translate: 360px;
    scale: 1.2;
}

.sphere-low {
    transition: 0.5s;
    padding: 0;
    margin: 0;
    margin-top: 3%;
    translate: 300px;
}

.sphere-low:hover {
    transition: 0.5s;
    translate: 360px;
    scale: 1.2;
}

.slick-slider {
    width: 100vw !important;
}

.dealers {
    height: 900px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.dealers-container {
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
}

.dealers-container-part-a {
    height: 250px;
    width: 40%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
}

.dealers-container-part-b {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: white;
}

.dealers-button-a {
    text-decoration: none;
    color: #01B2FF;
    margin-top: 7%;
    width: 70%;
    border-radius: 1600px;
}

.dealers-button {
    transition: 0.5s;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1600px;
    border: 1px solid #DBDBDB;
}

.dealers-button:hover {
    transition: 0.5s;
    color: white;
    background-color: #01B2FF;
}

#dealers-heading {
    color: white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#dealers-rucold {
    color: white;
}

.contacts {
    height: 600px;
    background-color: #d9f3ff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20vw;
    padding-right: 20vw;
}

.contacts-a-part {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 30%;
}

.contacts-b-part {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 40%;
}

.contacts-heading {
    padding: 0;
    margin: 0;
    font-family: "Unbounded", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #01B2FF;
    margin-top: 100px;
    margin-bottom: 12%;
}

footer {
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-a {
    text-align: center;
    text-decoration: none;
    color: #01B2FF;
    font-weight: 700;
    font-size: 24px;
}

.sphere, .sphere-low, .third-info-a-part-paragraph-1, 
.third-info-a-part-paragraph-2, .third-info-a-part-paragraph-3 {
    will-change: transform;
}

@media (max-width: 1775px) {
    .sphere-low {
        margin-top: 1%;
    }
}

@media (max-width: 1685px) {
    #sphere-1 {
        display: none;
    }

    #sphere-2 {
        display: none;
    }

    .high-header {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .separator {
        margin-left: 0vw;
        margin-right: 0vw;
    }

    .low-header {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .main-info {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .second-info {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    
    .third-info-a-part {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .third-info-b-part {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .application-main-part {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .dealers {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .contacts {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (max-width: 1630px) {
    #galery-heading {
        margin-top: 5%;
    }
    .a-logo {
        width: 13%;
    }
}

@media (max-width: 1150px) {
    #galery-heading {
        margin-top: 7%;
    }
}

@media (max-width: 1024px) {
    #galery-heading {
        margin-top: 15%;
    }

    .button-a {
        width: 50%;
    }

    #low-a-off {
        display: none;
    }
}

@media (max-width: 940px) {
    .a-logo {
        width: 15%;
    }
    .burger-menu {
        display: flex;
    }

    .low-header {
        display: none;
    }

    .separator {
        display: none;
    }

    .link {
        display: none;
    }

    .high-header {
        height: 100%;
    }

    header {
        height: 100px;
        width: 100%;
    }

    .main-info {
        text-align: center;
        align-items: center;
    }

    .button-a {
        width: 60%;
    }

    .second-info {
        align-items: center;
        flex-direction: column;
    }

    #second-info-paragraph {
        text-align: center;
    }

    #second-info-heading {
        text-align: center;
    }

    .third-info-b-part {
        text-align: center;
        align-items: center;
    }

    #third-info-b-part-b-part-heading {
        display: none;
    }

    #third-info-b-part-b-part-paragraph {
        text-align: center;
        width: auto;
    }

    .application-main-part {
        height: 1200px;
    }

    .application-main-part-a-part {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .application-main-part-b-part {
        display: none;
    }

    .adaptive-main-part-b-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #adaptive-button-a-part {
        display: none;
    }

    #adaptive-button-b-part {
        display: flex;
        width: 60%;
    }

    #application-main-part-heading {
        text-align: center;
    }

    #galery-heading {
        margin-top: 3%;
    }

    .galery-button-a {
        width: 60%;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 900px;
    }
    
    .contacts-a-part {
        width: 100%;
    }

    .contacts-b-part {
        width: 100%;
    }

    .contacts-heading {
        margin-top: 7%;
        margin-bottom: 7%;
        text-align: center;
        font-size: 32px;
    }

    #contacts-a-part-heading {
        margin-top: 0;
    }
}

@media (max-width: 550px) {
    .a-logo {
        width: 20%;
    }
    .application-main-part-b-part-button {
        width: 80%;
    }

    #adaptive-button-b-part {
        width: 70%;
    }
}

@media (max-width: 470px) {
    * {
        font-size: 18px;
    }

    .a-logo {
        width: 30%;
    }

    header {
        height: 70px;
    }

    .burger {
        margin-top: 70px;
    }

    .application-main-part-b-part-button {
        width: 100%;
    }

    #adaptive-button-b-part {
        width: 90%;
    }

    .contacts-heading {
        font-size: 28px;
    }

    .heading {
        font-size: 28px;
    }

    .heading-main {
        font-size: 28px;
    }

    .rucold-heading {
        font-size: 28px;
    }

    .paragraph {
        font-size: 18px;
    }

    .paragraph-main {
        font-size: 18px;
    }

    .contacts-paragraph {
        font-size: 18px;
    }

    .footer-a {
        font-size: 18px;
    }

    .burger-menu {
        margin-top: 3%;
        width: 15%;
    }
    .button-a {
        width: 90%;
    }
}

@media (max-width: 376px) {
    .contacts-heading {
        font-size: 22px;
    }

    #button-adaptive-function h2 {
        margin-top: 6%;
        font-size: 16px !important;
    }
}